.fullHeight {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.reviewText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    flex-grow: 1;
}
